#map {
    display: inline-block;
  height: 500px;
    width: 1000px;
    margin: auto;
    border: 3px solid black;
    margin-left: 500px;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .day-forecast {
    display: inline-block;
    width: 175px;
    height: 210px;
    background-color: red;
    margin: 15px;
  
}