/* Main styling */
*{
  box-sizing: border-box;
  /* display: flex; */
}

#map {
    height: 500px;
    width: 958px;
    margin: auto;
    border: 2px solid black;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: lightgoldenrodyellow;
  }

/*  5-day forecast styling */
  .day-forecast {
    display: inline-block;
    width: 180px;
    height: 200px;
    background-color: white;
    margin: auto;
    /* border: 2px solid black; */
  
}

/* Sidebar styling */
aside {
  margin-top: 90px;
}

.dropdown-item {
  width:200px;
  background-color: white;
  padding: .75rem;
  border-radius: .25rem;
  box-shadow:0 2px 5px 0 rgba(0,0,0,.1);
}


.btn btn-primary btn-lg btn-block{
  color: green;
}

.card-header {
  background-color: lightblue;
  border: 2px solid black;
}

h1{
 font-family: 'Times New Roman', Times, serif;
  color: black;
  
}
